.catloop-header {
	margin-bottom: 30px;
}
h2.catloop-head {
	font-size: 50px;
}
.catloop-subhead {
	font-size: 17px;
	margin-bottom: 30px;
}

.section-catloop-for-dms article {
	margin-bottom: 20px;
}

.cloop-pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:13px;
line-height:13px;
}
	
.cloop-pagination span, .cloop-pagination a {
		display:block;
		float:left;
		margin: 2px 2px 2px 0;
		padding:6px 9px 5px 9px;
		text-decoration:none;
		width:auto;
		}
.cloop-pagination a:hover{

		}
.cloop-pagination .current{
		padding:6px 9px 5px 9px;
		}		

@media (max-width: 480px) {
	.multi-post .clip_box .clip {
		width: 100% !important;
	}
}